.home__presentation{
    text-align: start;
    padding-left: 10px;
    padding-top: 50px;
    color: white;
}

.home__presentation h4{
    font-weight: 500;
    font-size: 16px;
}
.home__presentation h2{
    font-weight: 800;
    color: #9A60FA;
    font-size: 35px;
}
.home__presentation h3{
    font-weight: 600;
    font-size: 16px;
}


.home__content{
    /* display: flex; */
}
.home__images-eclipse{
    position: absolute;
    z-index: 0;
    left: -32%;
    top: 150px;
    min-width: 220px;
    max-width: 382px;

}
.home__images-mateo{
    z-index: 1;
    position: relative;
    left: -20%;
    min-width: 310px;
    max-width: 310px;
}

.home__images-mateo{
    animation-name: mover;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
}

  .home__images-eclipse{
    animation-name: mover;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
}

@keyframes mover {
    0% {
      transform: translate(0px, 0px);
    }
    50% {
      transform: translate(8px, 8px);
    }
    100% {transform: translate(10px);}
    
  }

.home__text-experience{
    position: absolute;
    right: 0;
    top: 0;
    top: 320px;
}
.home__text{
    color: white;
    font-weight: 400;
    font-size: 16px;
    width: 120px;
}
.home__text span{
    color: #9A60FA;
}
.home__icons{
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding-left: 30px;
    padding-top: 20px;
    z-index: 9;
}
.home__github{
    color: white;
    font-size: 35px;
}
.home__instagram{
    width: 35px;
}
.home__linkedin{
    width: 35px;
}


.fondo-elipse{
    position: absolute;
    z-index: 0;
    top: 650px;
    right: -292px;
    min-width: 220px;
    max-width: 495px;
    display: none;
    
}

.componente{
    display: none;
    z-index: 8;
}



@media (min-width: 390px) {

    .home__presentation{
        text-align: center ;
        padding-left: 10px;
        padding-top: 50px;
        color: white;
    }
    
    .home__presentation h4{
        font-weight: 500;
        font-size: 16px;
    }
    .home__presentation h2{
        font-weight: 800;
        color: #9A60FA;
        font-size: 35px;
    }
    .home__presentation h3{
        font-weight: 600;
        font-size: 16px;
    }

    .home__text-experience{
        position: absolute;
        width: 120px;
        right: 20%;
    }
    .home__text{
        font-size: 19px;
        width: auto;
    }
    .home__icons{
        position: absolute;
        display: flex;
        flex-direction: row;
        gap: 18px;
        padding-left: 0;
        padding-top: 20px;
        width: 300px;
    }
    
    
}
@media (min-width: 500px) {
    .home__text-experience{
        position: absolute;
        width: 250px;
        right: 10%;
    }
    .home__text{
        font-size: 19px;
        width: auto;
    }
    
    .componente{
        display: block;
        position: relative;
        width: 230px;
        top: -232px;
        left: 50%;
    }
    .componente img{
        position: absolute;
    }
    .textos{
        position: absolute;
        color: white;
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 8px;
        top: 40px;
        left: 127px;
    }
    .textos h2{
        font-weight: 500;
    }
    .textos span{
        font-weight: 800;
    }

    .component-imgs{
        position: relative;
    }
    .component-img1{
        width: 224px;
        top: 9px;
        left: 13px;
    }
    .component-img2{
        top: -18px;
        right: 68px;
        width: 202px;
        animation-name: mover-lado-a-lado;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
    }
    @keyframes mover-lado-a-lado {
        from {transform: translateX(-6px);}
        to {transform: translateX(6px);}
      }
}

@media (min-width: 600px) {

    .home__icons{
        gap: 30px   ;
    }

    .home__presentation h4{
        font-size: 20px;
    }
    .home__presentation h2{
        font-size: 39px;
    }
    .home__presentation h3{
        font-size: 20px;
    }

    .home__images-mateo{
        left: -55px;
        top: -13px;
        max-width: 318px;
    }
    .home__images-eclipse{
        left: -10%;
        
    }
    .fondo-elipse{
        top: 433px;
        right: -367px;
        min-width: 220px;
        max-width: 662px;
        
    }

    .componente{
        width: 291px;
        top: -246px;
        left: 48%;
    }
    .textos{
        gap: 10px;
        font-size: 10px;
        top: 59px;
        left: 161px;
    }
    .component-img1{
        width: 235px;
        top: 15px;
        left: 68px;
    }
    .component-img2{
        top: -6px;
        right: 92px;
        width: 204px;
    }
    
}

@media (min-width: 700px) {
    .home__images-mateo{
        left: -55px;
        top: -13px;
        max-width: 318px;
    }
    .home__images-eclipse{
        left: -10%;
        
    }
    
}

@media (min-width: 768px) {
    .home__presentation{
        text-align: center;
        padding-left: 35%;
        padding-top: 110px;
        color: white;
    }
    
    .home__presentation h4{
        font-weight: 500;
        font-size: 35px;
    }
    .home__presentation h2{
        font-weight: 800;
        color: #9A60FA;
        font-size: 50px;
    }
    .home__presentation h3{
        font-weight: 600;
        font-size: 19px;
    }
    

    .home__images{
        position: absolute;
    }
    .home__images-eclipse{
        position: absolute;
        z-index: 0;
        left: -35%;
        top: -41%;
        min-width: 535px;
    
    }
    .home__images-mateo{
        z-index: 1;
        position: relative;
        left: -80px;
        top: -203px;
        max-width: 434px;
    }
    
    .home__text-experience{
        position: absolute;
        right: 15%;
        top: 0;
        top: 415px;
    }
    .home__text{
        font-size: 22px;
        width: auto;
    }
    .home__icons{
        display: flex;
        flex-direction: row;
        gap: 18px;
        padding-left: 15%;
        padding-top: 20px;
    }

    .home__github:hover{
        transform: scale(1.2);
        transition: transform 0.3s ease-in-out;
    }
    .home__instagram:hover{
        transform: scale(1.2);
        transition: transform 0.3s ease-in-out;
    }
    .home__linkedin:hover{
        transform: scale(1.2);
        transition: transform 0.3s ease-in-out;
    }

    .home__github{
        color: white;
        font-size: 35px;
    }
    .home__instagram{
        width: 35px;
    }
    .home__linkedin{
        width: 35px;
    }

    .componente{
        width: 318px;
        top: 246px;
        left: 53%;
    }
    .textos{
        gap: 10px;
        font-size: 10px;
        top: 64px;
        left: 175px;
    }
    .component-img1{
        width: 237px;
        top: 19px;
        left: 76px;
    }
    .component-img2{
        top: -4px;
        right: 111px;
        width: 208px;
    }
}

@media (min-width: 1000px) {
    .home__presentation{
        padding-left: 0;
    }
    
    .home__text-experience{
        right: 25%;
    }
    .home__text{
        font-size: 22px;
        width: auto;
    }
    .home__icons{
        display: flex;
        flex-direction: row;
        gap: 18px;
        padding-left: 15%;
        padding-top: 20px;
    }
    .home__github{
        color: white;
        font-size: 35px;
    }
    .home__instagram{
        width: 35px;
    }
    .home__linkedin{
        width: 35px;
    }

    .componente{
        width: 371px;
        top: 231px;
        left: 43%;
    }
    .textos{
        gap: 18px;
        font-size: 11px;
        top: 72px;
        left: 206px;
    }
    .component-img1{
        width: 262px;
        top: 33px;
        left: 93px;
    }
    .component-img2{
        top: 4px;
        right: 128px;
        width: 233px;
    }
}

@media (min-width: 1220px) {
    .home__images-eclipse{
        left: -17%;
        min-width: 535px;
    
    }
    .home__images-mateo{
        z-index: 1;
        position: relative;
        left: -80px;
        top: -253px;
        max-width: 455px;
    }
    .home__text-experience{
        position: absolute;
        left: 50%;
        top: 400px;
        transform: translate(-50%, -50%);
    }
    .home__text{
        font-size: 22px;
        width: auto;
    }
    .home__icons{
        display: flex;
        flex-direction: row;
        gap: 18px;
        padding-left: 15%;
        padding-top: 20px;
    }
    .fondo-elipse{
        top: 421px;
        right: -428px;
        min-width: 220px;
        max-width: 811px;
        
    }
    .componente{
        width: 423px;
        top: 184px;
        left: 50%;
    }
    .textos{
        gap: 20px;
        font-size: 12px;
        top: 84px;
        left: 236px;
    }
    .component-img1{
        width: 303px;
        top: 29px;
        left: 129px;
    }
    .component-img2{
        top: 4px;
        right: 153px;
        width: 262px;
    }
}

@media (min-width: 1531px) {

    .home__presentation{
        text-align: center;
       
        
    }
    
    .home__presentation h4{
        font-size: 42px;
    }
    .home__presentation h2{
        font-size: 57px;
    }
    .home__presentation h3{
        font-size: 26px;
    }

    .home__images-eclipse{
        left: 5%;
    
    }
    .home__images-mateo{
        left: -93px;
        top: -367px;
        max-width: 563px;
    }
    .home__text{
        font-size: 22px;
        width: auto;
    }
    .home__icons{
        display: flex;
        flex-direction: row;
        gap: 23px;
        padding-left: 24%;
        padding-top: 20px;
    }

    .componente{
        width: 492px;
        top: 193px;
        left: 62%;
    }
    .componente img{
        width: 368px;
    }
    .textos{
        gap: 20px;
        font-size: 14px;
        top: 105px;
        left: 281px;
    }
    .component-img1{
        width: 303px;
        top: 29px;
        left: 128px;
    }
    .component-img2{
        top: -51px;
        right: 181px;
        width: 262px;
    }
}

