@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

body{
    margin: 0;
    background-color: #242424;
    overflow-x: hidden;
}

html{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

  *, *::after, *::before{
    box-sizing: inherit;
}

img{
    max-width: 100%;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

p{
    padding: 0;
}

